<!DOCTYPE html>
<html>


<body>
    <div class = "bar">
        <h1> RepLink </h1>
    
    </div>
    
    <div class = "background">
    <div class = "form">
    <h1> Make a Real Political Impact </h1>
    <h1> Find and Contact Your Congressman </h1>
    <h1> Just Enter Your Zip Code! </h1>
    <form>Zip Code
         <br>
        <input type="text" id="zip" name="Zip Code"><br>
    </form>
        <p></p>
        <button class="myButton">Find My Rep!</button>
    
    </div>

        

    <div class = "rss">
    
     <h1> News You Need to Know </h1>
    <script id="feed-1479616592389486" type="text/javascript" src="http://rss.bloople.net/?url=http%3A%2F%2Frss.nytimes.com%2Fservices%2Fxml%2Frss%2Fnyt%2FPolitics.xml&detail=-1&limit=5&showtitle=false&type=js&id=1479616592389486"></script>
    
    
    </div>
    </div>
     <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
    <script>
		$(function(){
			$('.myButton').click(function(){
				window.location.href = '/zipcode/' + $('#zip').val();
			});
		})
	
	</script>
   
</body>

</html>